.container {
  padding: 20px 60px;
}

@media (max-width: 900px) {
  .container{
    padding: 20px;
    position: relative;
    z-index: 9999;
    background-color: #eee;
    border-radius: 1rem;
    margin-top: 100px;
  }
  
}