.container{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 100%;
}

.voltar {
  padding: .875rem 1.25rem;
  border: none;
  border-radius: 5px;
  color: hsl(231, 11%, 63%);
  font-size: 1rem;
  transition: .3s;
  font-weight: 600;
  background: transparent;
}

.voltar:is(:hover,:focus){
  color: hsl(213, 96%, 18%);
}

.proximo{
  padding: .875rem 1.25rem;
  background: hsl(213, 96%, 18%);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.proximo:is(:hover, :focus){
  background: hsl(243, 100%, 62%);
}